.container {
  max-width: 1200px;
  min-height: 100vh;
  background: whitesmoke;
  margin: 0 auto;
  padding: 24px;
  box-shadow: 0 0px 40px rgba(0, 0, 0, 0.493);
  font-family: "Chewy", system-ui;
}

header {
  display: flex;
  flex-direction: c;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
  color: rgb(92, 92, 92);
}

.top {
  display: flex;
  flex-direction: c;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}

h1 {
  margin: 0;
  font-size: 40px;
  color: rgb(146, 199, 96);
}

h2 {
  margin: 0;
  font-size: 28px;
  padding-bottom: 10px;
  font-weight: 100;
}

button {
  padding: 8px 12px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background: wheat;
  color: black;
  font-family: "Chewy", system-ui;
  font-size: 20px;
}

.actions {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.actions button:hover,
.search button:hover {
  background: #85a1dd;
}

/* Search */
.search form {
  display: flex;
  gap: 8px;
  margin-bottom: 16px;
}

.search input:focus {
  outline: none;
}

.search input {
  flex: 1;
  padding: 10px 12px;
  border-radius: 10px;
  border: 1px solid #657c9b;
  background: #6a91bd;
  color: #e7edf3;
}

.main-content {
  display: flex;
  gap: 16px;
  align-items: stretch;
  flex-wrap: wrap;
  font-size: 20px;
}
.main-content > .left-panel {
  flex: 1 1 480px;
  min-width: 0; 
}

.main-content > .right-panel {
  flex: 1 1 480px;
  min-width: 0; 
}
@media (max-width: 900px) {
  .main-content {
    flex-direction: column;
  }
  .main-content > .panel {
    flex-basis: 100%;
  }
}

.left-panel {
  background: #8aa3c0;
  border: 1px solid #93a3b8;
  border-radius: 16px;
  padding: 16px;
  height: 450px;
}

.right-panel {
  background: #8aa3c0;
  border: 1px solid #93a3b8;
  border-radius: 16px;
  padding: 16px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
